<<<<<<< Updated upstream
<!DOCTYPE html>
<html>
<head>
<style>
</style>
</head>
<body>
</body>
</html>
=======
body {
  background-color: lightgreen;
}

/* 1st heading "Burkani"*/
h1 {
  text-align: left;
  color: blue;
  

/* 2nd heading "Kartupeļi"*/
h2 {
  color: blue;
  text-align: left;
}

/* 3rd heading "Gaļa"*/
h1 {
  text-align: left;
  color: blue;
  

/* 4th heading "Alus"*/
h2 {
  color: blue;
  text-align: left;
}
>>>>>>> Stashed changes
